{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/homepage.css'%}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="p-3 mb-2 bg-info text-dark" style="text-align: center;">
        <h1>
            Bem vindo
        </h1>   
    </div>
    <div class="alert alert-info" role="alert" style="text-align: center;">
        <form action="{% url 'homepage' %}" method="POST">{% csrf_token %}
            <input type="text" name="nome" placeholder="Digite seu nome">
            <br>
            <br>
            <input type="number" name="idade" placeholder="Digite sua idade">
            <br>
            <br>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>